*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
body{
    font-size: 15px;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('timer.jpeg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size:contain;
    background-attachment: fixed;
    
}
.container{
    border-radius: 1px solid;
}
h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    color: blueviolet;
}
.min{
    font-size: 72px;
}
.sec{
    font-size: 61px;
}
.milsec{
    font-size: 52px;
}
.timer-clock{
    color: black;
    border-radius: 1px solid;
    font-family: 'Courier New', Courier, monospace;
}
.btn1{
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 400px;
    margin: 30px 0 20px 25px;
    border: 5px;
    border-radius: 30px;
}
.button:hover{
   background-color: lightblue;
   color: black; 
}
.button{
    width:80px;
    border-radius: round(5px);
    cursor: pointer;
    color: black
}
.laps{
    list-style:none;
    height: 210px;
    position: relative;
    overflow: auto;
}
.lap-content{ 
    font-size: 25px;
    display: flex;
    border: 1px solid black;
    border-radius: 2px solid;
    text-align: center;
    padding: 5px;
    margin: 8px;
}
.clear-btn{
    width: 150px;
    height: 38px;
    border: 1px solid;
    border-radius: 50px solid;
    cursor: pointer;
    display: block;
    position: relative;
    padding: 10px ;
    background-color:rgba(182, 137, 194,0.3) ;
}

.show-function{
    display:none;
}